table {
  width: 100%;
}
.busca-cnpj{
  background-color: transparent ; 
  height: auto; 
  width: auto; 
  text-align: center;
}
.mat-mdc-form-field {
  font-size: 10px;
  width: 100%;
  height: 100%;
}

.mat-table{
  width: 100%;
}
